// ADD PREDEFINED MACROS HERE!
-DKERNEL_NUM_PRIORITIES            (8)
-DKERNEL_USE_TIMERS                (1)
-DKERNEL_TIMERS_TICKLESS       (1)
-DKERNEL_USE_TIMEOUTS          (1)
-DKERNEL_USE_QUANTUM           (1)
-DTHREAD_QUANTUM_DEFAULT           (4)
-DKERNEL_USE_NOTIFY                (1)
-DKERNEL_USE_SEMAPHORE             (1)
-DKERNEL_USE_MUTEX                 (1)
-DKERNEL_USE_EVENTFLAG             (1)
-DKERNEL_USE_MESSAGE           (1)
-DGLOBAL_MESSAGE_POOL_SIZE     (8)
-DKERNEL_USE_MAILBOX           (1)
    -DKERNEL_USE_SLEEP             (1)
-DKERNEL_USE_DRIVER                (1)
-DKERNEL_USE_THREADNAME            (0)
-DKERNEL_USE_DYNAMIC_THREADS       (1)
-DKERNEL_USE_PROFILER              (1)
-DKERNEL_USE_DEBUG                 (1)
    -DKERNEL_ENABLE_LOGGING        (0)
    -DKERNEL_ENABLE_USER_LOGGING   (1)    //!< 1 to enable logging outside of kernel code
-DKERNEL_USE_ATOMIC                (0)
-DSAFE_UNLINK                      (0)
-DKERNEL_AWARE_SIMULATION          (1)
-DKERNEL_USE_IDLE_FUNC         (1) // Supported everywhere but ARM
-DKERNEL_USE_AUTO_ALLOC            (0)
-DAUTO_ALLOC_SIZE              (512)
-DKERNEL_USE_THREAD_CALLOUTS      (0)
-DKERNEL_USE_STACK_GUARD          (0)
-DKERNEL_STACK_GUARD_DEFAULT     (32) // words
